* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.tbl {
  margin-top: 10px;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}

.tbl tr{
  height: 35px;
}

.tbl td {
  border: 1px solid black;
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
  padding: 10px 5px;
  text-align: center;
  vertical-align: top;
  word-break: normal;
  height: 20px;
  line-height: 35px;
}

.td1 {
  width: 150px;
  background: #d2d2d2;  
}

.td2 {
  width: 400px;
}

.td2 input{
	width: 400px;
  height: 28px;
}

button{
  margin-top: 15px;
  width: 160px;
  height: 35px;
  font-size: 20px;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  background:  #d2d2d2;  
}

.btn1{
  margin-right: 60px;
  margin-left: 60px;
}

.btn2{
	margin-left: 60px;
  margin-left: 60px;
}

p{
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}