* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.tbl {
  margin-top: 10px;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}

.tbl td {
  border: 1px solid black;
  font-size: 26px;
  font-weight: 700;
  overflow: hidden;
  padding: 10px 5px;
  text-align: center;
  vertical-align: top;
  word-break: normal;
  height: 50px;
  line-height: 44px;
}

.td1 {
  width: 200px;
  background: #d2d2d2;  
}

.td2 {
  width: 500px;
}

.td2 input{
	width: 400px;
  height: 35px;
}

button{
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  background:  #87cefa;  
}

.btn1{
	margin-right: 50px;
}

.btn2{
	margin-left: 50px;
}

p{
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}