* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.tbl {
  margin-top: 10px;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  margin-left:200px
}

.tbl tr{
  height: 28px;
}

.tbl td {
  border: 1px solid black;
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  padding: 10px 5px;
  text-align: center;
  vertical-align: top;
  word-break: normal;
  height: 22px;
  line-height: 28px;
}

.td1 {
  width: 150px;
  background: #d2d2d2;  
}

.td2 {
  width: 400px;
}

.td2 input{
  width: 400px;
  height: 23px;
}

button{
  margin-top: 15px;
  margin-left: 420px;
  width: 160px;
  height: 30px;
  font-size: 20px;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  background:  #87cefa;  
}
